---
apiVersion: remedy.config.gardener.cloud/v1alpha1
kind: ControllerConfiguration
clientConnection:
  acceptContentTypes: application/json
  contentType: application/json
  qps: 100
  burst: 130
azure:
  orphanedPublicIPRemedy:
    requeueInterval: 1m
    deletionGracePeriod: 5m
    maxGetAttempts: 5
    maxCleanAttempts: 5
#   blacklistedServiceLabels:
#   - foo: bar
#     bla: bla
#   - one: more
  failedVMRemedy:
    requeueInterval: 1m
    maxGetAttempts: 5
    maxReapplyAttempts: 5
